// COULEURS //

$oprcolor: #7451eb;
$oprcolor2:#d5d0f5;
$clr_background : #F5F6F7;


// TAILLES //

$top_side : 100px;


// KEYFRAMES //

$prog-bar-dur: 1500ms;
$prog-bar-delay: 1000ms;