.btn{
    display: inline-block;
    text-align: center;
    cursor: pointer;
    &__search{
        > img{
            font-size: 1em;
            padding: 0px;
            max-width: 1.4em;
            height: auto;
            background-color: transparent;
        }
    }
    &__basic{
        font-size: 0.6em;
        font-weight: bold;
        border: 2px solid $oprcolor;
        padding: 3px 12px 3px 12px;
        color: $oprcolor;
        border-radius: 3px;
        &:hover{
            transition: all ease-in-out 500ms;
            transform: scale(1.2);
            border: $clr_background;
            background: $oprcolor;
            color: white;
        }
    }
}
#search_container{
    position: relative;
    display : inline-flex;
    input{
        float: left;
    }
    .btn__search{
        float: right;
        transform: translate(-100%, -150%);

    }
}

.sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#hide{
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 10px;    
    border: none;
    width: 30px;
    height: 30px;
    .trait{
        position: relative;
        right: 4px;
        background: $oprcolor;
        width: 30px;
        height: 5px;
        margin: 4px;
    }
    &:active{
        transform: rotate(360deg);
        transition: 500ms;
        
    }
}

.under{
    display: inline-block;
    text-align: center;
    font-weight: bold;
    border-bottom: 3px solid $oprcolor;
    padding: 0px 20px 0px 0px;
    color: $oprcolor;
    width: auto;
    }

hr { 
    margin-top: 3em;
    height:2px;
    border : none;
    background: #E9E9E9;
    }
