@import "./../Utils/utils";

header{
    width: auto;
    font-family: "Cantarell", sans-serif;
    font-weight: bold;
}

body{
    width: auto;
    height: auto;
    background-color:#ffff;
    font-family: "Cantarell", sans-serif;
}