body{
    font-family: "Cantarell", sans-serif;
    #main{
        position: absolute;
        top: 0px;
        left: 20%;
        padding-left: 50px;
        padding-right: 50px;
        height: 100%;
        #smaller_main{
        height: 100%;
        }
    }
}


