@font-face {
    font-family: Cantarell;
    src: url(../../fonts/cantarell/Cantarell-Bold.ttf);
    src: url(../../fonts/cantarell/Cantarell-BoldOblique.ttf);
    src: url(../../fonts/cantarell/Cantarell-Oblique.ttf);
    src: url(../../fonts/cantarell/Cantarell-Regular.ttf);
}
