@font-face {font-family: "Cantarell";
    src: url("../fonts/Cantarell/Cantarell-Bold.ttf");
    src: url("../fonts/Cantarell/Cantarell-BoldOblique.ttf");
    src: url("../fonts/Cantarell/Cantarell-Oblique.ttf");
    src: url("../fonts/Cantarell/Cantarell-Regular.ttf");}

@font-face {font-family: "Baloo";
    src: url("../fonts/Baloo/Baloo-Regular.ttf");}